
body {
    width: 100vw;
    height: 100vh;
}

.heading {
    padding: 20px;
    text-align: center;
    background-color:lightcyan;
    color:black;
}

.content, .footer {
    padding: 20px;
    width: 100vw;
}

.content .link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.content{
    text-align: center;
}



.box-news {
    margin-top: 5px;
    text-align: center;
}

.box-news .container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}


.credit {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.box {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.box2{
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight:600;
    display:flex;
    flex-direction: row;
    gap: 80px;
    
    
}
#one{
    padding-left: 300px;
    text-align: center;
}
a:hover{
    color: azure;
}
.btn1{
    background-color:lightcoral;
    color:white;
    padding: 6px 20px;
    border: 2px solid white;
    margin: 17px;
    font-size: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
}
#email{
    font-size: medium;
    font-weight: 500;
    border: 1px;
    border-radius: 3px;
}