.heading {
  padding: 20px;
  font-size: 55px;
  padding: 20px;

  text-align: center;
  background-color: lightcyan;
  color: black;
  font-size: 55px;
}

.who {
  font-size: 40px;

  text-align: center;
}
.WAW {
  display: flex;

  justify-content: center;
  align-items: center;
}
.left {
  margin-right: 50px;
}
.link-btn {
  align-items: center;
  justify-content: center;
  display: flex;
  font-color: black;
}

.cont {
  display: flex;
  padding: 0 5%;
}

.content,
.footer {
  padding: 20px;
  width: 100%;
}

footer .left {
  text-align: left;
  padding: 70px 70px 70px 0;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abtus-right {
  padding-right: 0;
}

.content .link-btn {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-decoration: none;
}

.content {
  text-align: center;
}
.box {
  padding: 50px;
}

#why-choose-us {
  background: #ff5f6d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc371, #ff5f6d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.why-choose {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 0px;
  row-gap: 60px;
  width: 1200px;
  margin: 60px auto 0;
}

.box-news {
  margin-top: 5px;
}

.box-news h3 {
  text-align: center;
}

.box-news .container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}

.box-news .container-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.credit {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.box {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2 {
  padding: 10px 0px;
  /* margin: 10px; */
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 65px;
}

.box2 a {
  /* display: flex;
      align-items: center;
      justify-content: center; */
  text-align: center;
  /* margin: 0px auto;  */
}

#one {
  padding-left: 300px;
  text-align: center;
}

a:hover {
  color: azure;
}

.btn1 {
  background-color: lightcoral;
  color: white;
  padding: 6px 20px;
  border: 2px solid white;
  margin: 17px;
  font-size: 1.25rem;
  border-radius: 10px;
  cursor: pointer;
}

#email {
  font-size: medium;
  font-weight: 500;
  border: 1px;
  border-radius: 3px;
}

.subscribe-form input {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  width: 27em;
}

.navbar-toggler {
  display: none;
}

/* responsive */
@media (max-width: 1200px) {
  #why-choose-us .box .why-choose {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .about .content .WAW .cont {
    flex-direction: column-reverse;
  }

  .about .content .WAW .cont .left {
    margin: 20px 0;
  }

  #why-choose-us .box .why-choose {
    width: 100%;
  }
}

@media (max-width: 675px) {
  /* .about .content .WAW .cont {
    flex-direction: column-reverse;
  } */

  .about .content .WAW .cont .left {
    margin: 10px 20px;
  }

  .about .content .WAW .cont .right .abtus-right {
    width: auto;
  }

  #why-choose-us .box .why-choose {
    grid-template-columns: 1fr;
    /* width: 100%; */
    margin-top: 30px;
  }

  #why-choose-us .box .why-choose .small-box {
    margin: auto;
  }

  .footer .box-container .box .box2 {
    gap: 15px;
  }

  .footer .box-container .box-news {
    width: 100%;
  }

  .footer .box-container .box-news p {
    text-align: center;
  }

  .footer .box-container .box-news .container form {
    text-align: center;
  }

  .subscribe-form input {
    width: 20em;
  }

  .subscribe-form button {
    margin-top: 15px;
  }

  .credit {
    flex-direction: column;
    gap: 10px;
  }
}
