.list-group-item {
  /*background-image: linear-gradient(
  /*  to right,
  /*  rgb(27, 224, 9) 50%,
  /*  #0b0b0c 50%,
  /*  #090909 50%
  /*);*/
  background-color: yellow;
  
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.list-group-item:before {
  content: "";
  background: rgb(86, 228, 30);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
  background-position: 0;
  background-color: rgb(42, 215, 36);
  border-radius: 20px;
  transform: translateY(-3px);
  box-shadow: 2px -1px 105px -23px rgba(37, 37, 37, 0.57);
  -webkit-box-shadow: 2px -1px 105px -23px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px -1px 105px -23px rgba(0, 0, 0, 0.57);
  transform: scale(1.02);
}

.list-group-item:hover::before {
  width: 100%;
  background-color: rgb(236, 16, 16);
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1e669;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#button {
  border-radius: 20px;
  display: inline-block;
  bottom: 2em;
  width: 12em;
}
