@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(134, 67, 221),
    rgb(53, 210, 134)
  );
}

/* GENERAL STYLES */
.center {
  text-align: center;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.header b:hover{
  color: rgb(211, 211, 211);
}
.nav-link:hover{
  background-color: #a92224;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  max-width: 700px;
  transition: 0.25s ease-out;
}

/* SPECIFIC STYLES */

.main {
  height: 100%;
  width: 100%;
}

.main-content {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.owner .main-content button {
  display: flex;
  right: 10px;
}

.main::before {
  content: "";
  background-image: url("https://c4.wallpaperflare.com/wallpaper/234/543/684/food-pizza-wallpaper-preview.jpg");
  background-size: cover;
  max-width: 100%;
  height: 24rem;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}

.menu p {
  color: black;
  font-size: 1.2rem;
}

.menu-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-img {
  width: 150%;
  height: auto;
}

.logo{
  width: 40px;
}
.scp{
  text-align: center;
  padding: 8% 8% 0%;
}
.scp-1{
  text-align: center;
  padding-bottom: 0%;
}
p{
  text-align: center;
 color: #24262b;
 font-size:1.3rem ;
 padding-top: 3%;
}

.owner-img {
    width: 50%;
    height: 50%;
    border-radius: 25px;
    display: flex;
    position: relative;
    margin-left: 3%;
    margin-bottom: 35%;
}

.bgimg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}

.row:after {
  display: table;
  clear: both;
}

.column {
  left: 404px;
  width: -150cm;
  text-align: center;
}
.menu-btn:hover {
  background-color: #24262b;
  z-index: 10;
}

.logo-img {
  height: 100%;
  display: flex;
  width: 40%;
}


/* CONTACT FORM STYLES */
#contact::before {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
  background: url("../contact-us.jpg") no-repeat center center/cover;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  color: black;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 0.9rem;
}

.contact-item {
  align-self: flex-start;
  padding-top: 0.6rem;
}

.heading {
  -webkit-text-stroke: 1.5px black;
  position: relative;
}

.h-primary {
  font-size: 2.5rem;
  color: black;
  padding: 60px;
  /* font-family: "Montserrat", sans-serif; */
}


/* FOOTER STYLES */

.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col ul {
  padding: 0;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
/* FOR OTHER LINKS IN FOOTER */
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
/* FOR SOCIAL MEDIA LINKS IN FOOTER */
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .nav-link:hover{
    width: 20%;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  .nav-link:hover{
    width: 20%;
  }
}
