body {
    color: white;
    font-weight: 600;
}

.main {
    height: 1000px;
    width: 100%;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/234/543/684/food-pizza-wallpaper-preview.jpg");
    background-size: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: url(commonfilters.svg#filter);
    backdrop-filter: url(commonfilters.svg#filter);
    -webkit-backdrop-filter: opacity(10%);
    backdrop-filter: opacity(10%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-repeat:no-repeat;
    border-image-width: 100%;
}

/* .bgimg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    /* position: relative; */
*/
#contact{
    position: relative;

}

#contact::before{
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
    position: absolute;
    background: url(../contact-us.jpg) no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    color: black;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 0.9rem;
}
.h-primary {
    font-size: 2.5rem;
    color: black;
    padding: 60px;
    font-family: 'Bree Serif', serif;
}

.center {
    text-align: center;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
}

body {
    background-image: linear-gradient( to bottom right, rgb(134, 67, 221),rgb(53, 210, 134));
  }

#main {
    display: flex;
    flex-direction: column;
    height: 404px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#main::before {
    content: "";
    background: url(https://c4.wallpaperflare.com/wallpaper/234/543/684/food-pizza-wallpaper-preview.jpg) no-repeat center center/cover;
    position: absolute;
    height: 50px;
    height: 88%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
}

#main p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}